# Build results
bin/
obj/
# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# NuGet
*.nupkg
packages/

# ASP.NET / app settings locais
appsettings.Development.json

# Publish
publish/

# Test results
TestResults/

# Resharper
_ReSharper*/
*.DotSettings.user

# Arquivos de contexto e comandos do Claude
.claude/
CLAUDE.md